SAUCEDEMO-Playwright/TypeScript/.DS_Store
.DS_Store
results/
# Playwright - TypeScript
node_modules/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Playwright - Robot (Browser Lib)

