SAUCEDEMO-Playwright/TypeScript/.DS_Store
.DS_Store
results/
# Playwright - TypeScript
node_modules/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
test-results/
# SAUCEDEMO-Playwright/TypeScript/config/testdata.ts      # for test no need to ignore secret or config.

# Playwright - Robot (Browser Lib)

# Python ignore
__pycache__/
.pytest_cache/